<div class="page">
    <header class="header p-0" style="position: relative;">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header">
                        <a id="toggle-btn" href="#" class="menu-btn">
                            <i class="fa fa-bars "> </i></a><a href="index.html" class="navbar-brand">
                            <div class="brand-text d-none d-md-inline-block"><span>Inform</span><strong
                                    class="text-primary">List</strong></div>
                        </a></div>
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Notifications dropdown-->
                        <li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i
                                    class="fa fa-bell"></i><span class="badge badge-warning">12</span></a>
                            <ul aria-labelledby="notifications" class="dropdown-menu">
                                <li><a rel="nofollow" href="#" class="dropdown-item">
                                        <div class="notification d-flex justify-content-between">
                                            <div class="notification-content"><i class="fa fa-envelope"></i>You have 6
                                                new messages </div>
                                            <div class="notification-time"><small>4 minutes ago</small></div>
                                        </div>
                                    </a></li>
                            </ul>
                        </li>
                        <!-- Languages dropdown    -->
                        <li class="nav-item dropdown"><a id="languages" rel="nofollow" data-target="#" href="#"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                class="nav-link language dropdown-toggle">
                                <img src="assets/admin/img/flags/16/GB.png" alt="English"><span
                                    class="d-none d-sm-inline-block">English</span></a>
                            <ul aria-labelledby="languages" class="dropdown-menu">
                                <li><a rel="nofollow" href="#" class="dropdown-item"> <img
                                            src="assets/admin/img/flags/16/DE.png" alt="English"
                                            class="mr-2"><span>German</span></a></li>
                                <li><a rel="nofollow" href="#" class="dropdown-item"> <img
                                            src="assets/admin/img/flags/16/FR.png" alt="English"
                                            class="mr-2"><span>French </span></a></li>
                            </ul>
                        </li>
                        <!-- Log out-->
                        <li class="nav-item"><a href="login.html" class="nav-link logout"> <span
                                    class="d-none d-sm-inline-block">Logout</span><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="breadcrumb-holder relative ">
        <div class="container-fluid ">
            <ul class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">InformList </li>
            </ul>
        </div>
    </div>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>All Regions</h2>
                        </div>
                        <div class="col-lg-12">
                            <mat-form-field class="example-full-width">
                                <input matInput #region placeholder="Add Region">
                            </mat-form-field>
                            <button (click)="addRegion(region.value)" mat-button>Add</button>
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Delete</td>
                            </tr>
                            <tr *ngFor='let region of regions, let i=index'>
                                <td>{{i+1}}</td>
                                <td>{{region.name}}</td>
                                <td><button mat-button (click)="deleteRegion(region._id)">Delete</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br><br>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>All House type</h2>
                        </div>
                        <div class="col-lg-12">
                            <mat-form-field class="example-full-width">
                                <input matInput #house placeholder="Add House type">
                            </mat-form-field>
                            <button (click)="addHousetype(house.value)" mat-button>Add</button>
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Delete</td>
                            </tr>
                            <tr *ngFor='let type of house_types, let i=index'>
                                <td>{{i+1}}</td>
                                <td>{{type.name}}</td>
                                <td><button mat-button (click)="deleteType(type._id)">Delete</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br><br>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>All Convenience</h2>
                        </div>
                        <div class="col-lg-12">

                            <mat-form-field class="example-full-width">
                                <input matInput #convenienc placeholder="Add Currency">
                            </mat-form-field>

                            <button (click)="addConvenience(convenienc.value)" mat-button>Add</button>
                        </div>

                        <table class="table table-striped">
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Delete</td>
                            </tr>
                            <tr *ngFor='let convenc of conveniences, let i=index'>
                                <td>{{i+1}}</td>
                                <td>{{convenc.name}}</td>
                                <td><button mat-button (click)="deleteConvenience(convenc._id)">Delete</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>All Currencys</h2>
                        </div>
                        <div class="col-lg-12">
                            <mat-form-field class="example-full-width">
                                <input matInput #currency placeholder="Add Currency">
                            </mat-form-field>
                            <button (click)="addCurrency(currency.value)" mat-button>Add</button>
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Delete</td>
                            </tr>
                            <tr *ngFor='let currency of currencys, let i=index'>
                                <td>{{i+1}}</td>
                                <td>{{currency.name}}</td>
                                <td><button mat-button (click)="deleteCurrency(currency._id)">Delete</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </section>
</div>